{% extends 'base.jinja' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h2>Ingresar un proveedor</h2>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
          {{ form.nombre }}
        </div>
        <br>
        <div class="form-group">
          <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
          {{ form.apellido }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.dni.id_for_label }}">DNI:</label>
            {{ form.dni }}
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
            <a href="{{ 'lista_proveedores' }}" >Volver al listado</a>
        </div>
      </form>
</div>

  
{% endblock %}